.site-header {
    padding: 10px 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: rgba($mainBlue, .4);

    &__btn-container {
        float: right;
    }

    &__logo {
        position: absolute; /*to take to logo out of the natural flow of the nav element*/
        top: 0;
        background-color: $mainBlue;
        padding: 25px 36px;
    }
}